/*Basic Styling*/
h1,h2,h3,h4{
font-family: 'Open Sans', sans-serif;
font-weight: 800;	
color:#80A83F ;
}

body{
	background: url('../img/dark.png');
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: .9em; 


}

h1{
	font-size: 3em;
}

/*Navigation*/
.logo{
	background: url('../img/logo1.png');
	width:50px;
	height:30px;

}
.ui.menu .item{
	font-size:1.6rem;
	padding:.6em .75em;
}



/*Description*/
.intro{
	background: url('../img/sushi1.jpg');
	background-attachment: fixed;
	min-height: 700px;
	background-position:center center;
	background-repeat: no-repeat;
	
	
}

h1{
	position:relative;
	top: 200px;
}

h2{
	padding:0;
}



.ui.segment, h1{
	width:90%;
	background: none;
	text-align: center;
	margin:0 auto;

	/*background: none;*/
/*	border:none*/;
	box-shadow: none
}

.segment > p {
	color:#000;
	background: rgba(255, 255, 255, 0.5);
	padding:1em;
	border-radius: 5px;
}

.ui.grid{
	margin:0;
	width:100%;
}

/*Contact*/

.contact{
	background: url('../img/brushed.png')
}
/*Map*/
.map{
	display:block;
	margin:auto auto;


}

iframe{
	width:100%;
	height:400px;
	margin-left: 0;

}

.ui.list .item, ol.ui.list li, ul.ui.list li{
	padding:.1em 0;

}

/*Food Menu*/
.food-menu{
	background: url('../img/sushi2.jpg');
	background-attachment: fixed;
	min-height: 700px;
	background-position: center center;
	background-repeat: no-repeat;
/*	width: 100%;
	height: 100%;*/
}

.ui.items .item > .content{
  padding:0em 0em;
}

.ui.items > .row > .item, .ui.items > .item{
  min-height:150px;
  width:250px;
  margin: 1% 1%;
}

.ui.bottom.right.attached.label{
  bottom:0em;
  margin-top:10px;
}


/* colors - Yellow and light blue */
.ui.yellow.labels .label, .ui.yellow.label{
  border-color: yellow;
}

.ui.lightblue.labels .label, .ui.lightblue.label{
  border-color: lightblue;
}


/*container*/
.container{
	display:block;
	margin:auto auto;
	width:100%;
	max-width:1140px;
	background:url('../img/sos.png');
}

/* Mobile */
@media screen and (min-width: 320px) {
	body {
 /*   background: green;  */  
  }
  .container{
  	max-width:768px;
  	width:100%;
  }
  h1{
  	top:100px;
  }
.ui.segment{
	position:relative;
	top:200px;
}

.ui.column.grid>.eleven.wide.column, .ui.grid>.column.row>.eleven.wide.column, .ui.grid>.eleven.wide.column, .ui.grid>.row>.eleven.wide.column{
	width:100%;
}
.ui.column.grid>.five.wide.column, .ui.grid>.column.row>.five.wide.column, .ui.grid>.five.wide.column, .ui.grid>.row>.five.wide.column{
	width:100%;
}


}


/* Tablet */
@media screen and (min-width: 768px) {
  body {
    /*background: orange; */ 
  }
   .container{
  	max-width:1140px;
  	width:100%;
}

.ui.column.grid>.eleven.wide.column, .ui.grid>.column.row>.eleven.wide.column, .ui.grid>.eleven.wide.column, .ui.grid>.row>.eleven.wide.column{
	width:68.75%;
}
.ui.column.grid>.five.wide.column, .ui.grid>.column.row>.five.wide.column, .ui.grid>.five.wide.column, .ui.grid>.row>.five.wide.column{
	width:31.25%;
}

.ui.segment {
	position:relative;
	top:200px;
	width:400px;
}
}


/* Desktop */
@media screen and (min-width: 1140px) {

    body {
      /*background: yellow;    */  
    }

    

.ui.segment, h1{
	top:250px;
	
	width:400px;
}

}