

/*Plate colors*/

plate {
display:inline;
background: yellow;
width:25px;
height:25px;
}





/*Food Menu*/
.food-menu{
	width:100%;
	background:url('../img/brushed.png') ; 
}
.ui.items .item > .content{
  padding:0em 0em;
}

.ui.items > .row > .item, .ui.items > .item{
  min-height:150px;
  width:250px;
}

.ui.bottom.right.attached.label{
  bottom:0em;
  margin-top:10px;
}


/* colors - Yellow and light blue */
.ui.yellow.labels .label, .ui.yellow.label{
  border-color: yellow;
}

.ui.lightblue.labels .label, .ui.lightblue.label{
  border-color: lightblue;
}

/* Mobile */
@media screen and (min-width: 320px) {
	body {
 /*   background: green;  */  
  }
  .food-menu{
  	max-width:768px;
  	width:100%;
}

/* Tablet */
@media screen and (min-width: 768px) {
  body {
    background: orange;  
  }
  
}

/* Desktop */
@media screen and (min-width: 1140px) {

    body {
      background: yellow;      
    }

}