/*Basic Styling*/
h1,h2,h3,h4{
font-family: 'Open Sans', sans-serif;
font-weight: 800;	
color:#80A83F ;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: .9em; 

}

/*Description*/
.intro{
	background: url('../img/DSC_0092.jpg') no-repeat;
	background-size: cover;
	height:500px;
}

.intro h1{
	position:absolute;
	top: 20%;
}

.ui.segment, .intro h1{
	width:90%;
	top:250px;
	
	text-align: center;
	margin:0 auto;
	background: none;
	border:none;
	box-shadow: none
}

.segment > p {
	color:#fff;
}

.ui.grid{
	margin:0;
	width:100%;
}

/*Contact*/

.contact{
	background: url('../img/brushed.png')
}
/*Map*/
.map{
	display:block;
	margin:auto auto;


}

iframe{
	width:100%;
	height:200px;
	margin-left: 0;

}


/*Food Menu*/


.ui.items .item > .content{
  padding:0em 0em;
}

.ui.items > .row > .item, .ui.items > .item{
  min-height:150px;
  width:250px;
  margin: 1% 1%;
}

.ui.bottom.right.attached.label{
  bottom:0em;
  margin-top:10px;
}


/* colors - Yellow and light blue */
.ui.yellow.labels .label, .ui.yellow.label{
  border-color: yellow;
}

.ui.lightblue.labels .label, .ui.lightblue.label{
  border-color: lightblue;
}


/*container*/
.container{
	display:block;
	margin:auto auto;
	width:100%;
	max-width:1024px;
	background: purple;
}

/* Mobile */
@media screen and (min-width: 320px) {
	body {
 /*   background: green;  */  
  }
  .container{
  	max-width:768px;
  	width:100%;
}

/* Tablet */
@media screen and (min-width: 768px) {
  body {
    background: orange;  
  }
   .container{
  	max-width:1140px;
  	width:100%;
}

/* Desktop */
@media screen and (min-width: 1140px) {

    body {
      background: yellow;      
    }

}