/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.color-4,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 100px;
	width: 100px;
}
h1,h2,h3,h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #80A83F;
}

body{
	font-family:'Open Sans', sans-serif;
	background: url('../img/brushed.png'); 

}

p, em{
	font-size: .9em;
	color:#3A3530;
}

a{
	color:#80A83F;
}

/*Colors*/
.color-1{
	background: #EC2026;
}

.color-2{
	background: #CCCFC8;

}

.color-3{
	background: #80A83F;

}

.color-4{
	background: #3A3530;
}

.pattern-1{
	background: url('../img/brushed.png'); 
}

.pattern-2{
	background: url('../img/sos.png'); 
}

.pattern-3{
	background: url('../img/dark.png'); 
}

.imagery-1{
	background: url('../img/sushi1.jpg');
}

.imagery-2{
	background: url('../img/whitebrick.jpg');
}

.imagery-3{
	background: url('../img/sushi2.jpg') center no-repeat;
}

/* Show Grid */
